pipeline/PL_LookUp_Metadata_cp_BLOBToBLOB.json
{
	"name": "PL_LookUp_Metadata_cp_BLOBToBLOB",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_METADATA_BLOB",
									"type": "DatasetReference",
									"parameters": {
										"InputContainer": {
											"value": "@item().InputContainer",
											"type": "Expression"
										},
										"InputDirectory": {
											"value": "@item().InputDirectory",
											"type": "Expression"
										},
										"InputFile": {
											"value": "@item().InputFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Metadata",
									"type": "DatasetReference",
									"parameters": {
										"OutputContainer": {
											"value": "@item().OutputContainer",
											"type": "Expression"
										},
										"Outputdirectory": {
											"value": "@item().Outputdirectory",
											"type": "Expression"
										},
										"OutputFile": {
											"value": "@item().OutputFile",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_lookup_metdata",
						"type": "DatasetReference",
						"parameters": {
							"lookup_container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"lookup_directory": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							},
							"lookup_filename": {
								"value": "@pipeline().parameters.file",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string"
			},
			"directory": {
				"type": "string"
			},
			"file": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-17T21:36:23Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}